.nav-link{
    font-size:large;
    color:red;
}
.nav-tabs{
    background-color:gray;
}
.nav-tabs-header{
    margin-right:auto;
    margin-right: 50%;
}
a.nav-link{
    color:red;
    font-size: large;
}
.nav-tabs-header{
    color: red;
}
/* .nav{
    background-color: black;
} */